$corDoFooter: #000000;
$corDeFundo: #000000;
$buttonOneBgColor: #FFFFFF;
$corTextBig: #FFFFFF;
$corText: #FFFFFF;
$colorTextUnfocus: #cacaca;
$containerPadding: 58px;
$buttonTowBgColor: #4c484c;
$colorBorderButton: #FFFFFF;
$colorLinksFooter: #F9F9F9;